<%= simple_form_for @car_variant, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<%= f.association :car_brand, label: 'Brand', collection: CarOrigin.includes(:car_brands), as: :grouped_select, group_label_method: :name, group_method: :car_brands, label_method: :name, wrapper_html: { id: 'veh-brand' }, hint: 'example: Toyota'  %>
	<%= f.association :car_model, label: 'Model', collection:  @car_models, wrapper_html: { id: 'veh-model' }, include_blank: true, hint: 'example: Fortuner' %>
  <%= f.input :name, label: 'New Variant', hint: "#{content_tag :strong, 'Example: 2.5 MT Special'}".html_safe %>
	<% if can? :access, :all %>
		<%= f.input :creator_id, collection: Company.where(primary_role: 2).includes(:users), as: :grouped_select, group_label_method: :nickname, group_method: :users, label_method: :username %>
  <% else %>
    <%= f.association :creator, collection: current_user.company.branches.includes(:users => :profile), as: :grouped_select, group_label_method: :name, group_method: :users, label_method: :fullname, disabled: true %>
	<% end %>

	<% if can? :access, :all %>
	  <%= f.input :start_year %>
	  <%= f.input :end_year %>
	<% end %>
  <div class="form-actions">
		<%= f.submit 'Create Variant', class: 'btn btn-primary' %>
		<% if can? :access, :all %>
			<%= link_to "Cancel", :back, class: 'btn' %> 
		  <%= link_to "View All", car_variants_path, class: 'btn' %>
		<% else %>
			<%= link_to "Cancel", new_user_entry_path(current_user), class: 'btn' %> 
		<% end %>
  </div>
<% end %>
