<%= content_tag :h3, 'Your Parts List' %>

<% if @entry.line_items.present? %>
	<div class="alert alert-info">
		<%= content_tag :h4, 'Existing Parts' %>
		<ul class="unstyled">
			<% @entry.line_items.includes(:car_part).each_with_index do |item, index| %>
			<li>
				<%= content_tag :div, index + 1, class: 'index'  %>
				<%= content_tag :div, item.car_part, class: 'partdesc' %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="alert alert-success">
	<%= content_tag :h4, 'New Parts' %>
	<% if @cart.cart_items.present? %>
		<%= form_tag line_items_path(id: @entry), remote: true do %>
			<ul class="unstyled">
				<% @cart.cart_items.includes(:car_part).each_with_index do |item, index| %>
				<li>
					<%= content_tag :div, index + 1, class: 'index'  %>
					<%= content_tag :div, item.car_part, class: 'partdesc' %>
				</li>
				<% end %>
			</ul>
			<hr>
			<%= content_tag :h3, 'Step 3: Save this list' %>
			<%= submit_tag 'Save Parts List', class: 'btn btn-success', data: { confirm: 'Are you sure you want to ADD THE PARTS and START ONLINE BIDDING?'}  %>
			or <%= link_to "remove all", cart_clear_path(id: @entry), remote: true %>
		<% end %>
	<% else %>
		<%= content_tag :h6, 'Your list is empty.' %>
	<% end %>
</div>

