<% title 'Buyer Dashboard' %>
<% subtitle current_user.fullname %>

<div class="well well-small clearfix">
	<!-- <div class="row clearfix"> -->
		<div class="span3">
			<%= content_tag :b, current_user.nickname %><br>
			<%= star_images(@presenter.company_rating.average('stars').to_f) %>
			<%= content_tag :p, ('based on ' + (link_to (pluralize @presenter.company_rating.count, 'rating'), user_ratings_path('all'))).html_safe %>
		</div>
		<div class="span3">
			<%= content_tag :b, current_user.fullname.upcase %><br>
			<%= star_images(@presenter.user_rating.average('stars').to_f) %>
			<%= content_tag :p, ('based on ' + (link_to (pluralize @presenter.user_rating.count, 'rating'), user_ratings_path(current_user))).html_safe %>
		</div>
		<div class="span5 pull-right">
			<div class="span4">
				<p>
					<%= content_tag :b, "Order Ratio" %>
					<span class="small">
						<%= @presenter.order_ratio_details %>
						(<%= Time.now.year %>)
					</span>
					<%= content_tag :span, @presenter.order_ratio, class: 'lead pull-right' %>
				</p>
			</div>
			<div class="span4">
				<%= content_tag :b, 'Ave Payment Time' %>
				<%= content_tag :span, (pluralize @presenter.average_payment_time, 'day'), class: 'lead pull-right' %>
			</div>
		</div>
	<!-- </div> -->
</div>

<div class="row">
	<div class="span3">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<%= content_tag :th, 'Entries', colspan: 2, class: 'label label-inverse txtcenter' %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= content_tag :td, 'Drafts' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.draft_entries.count, class: 'lead' %>
						<%= link_with_icon '', buyer_entries_path(s: 'new'), 'play', 'btn-small' %>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'Online' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.online_entries.count, class: 'lead' %>
						<%= link_with_icon '', buyer_entries_path(s: 'online'), 'play', 'btn-small' %>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'For Decision' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.for_decision_entries.count, class: 'lead' %>
						<%= link_with_icon '', buyer_entries_path(s: 'for-decision'), 'play', 'btn-small btn-primary', true %>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'With Orders' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.with_orders_entries.count, class: 'lead' %>
						<%= link_with_icon '', buyer_entries_path(s: 'ordered'), 'play', 'btn-small' %>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'Declined' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.declined_entries.count, class: 'lead' %>
						<%= link_with_icon '', buyer_entries_path(s: 'declined'), 'play', 'btn-small' %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span4">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<%= content_tag :th, 'Orders', colspan: 3, class: 'label label-inverse txtcenter' %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= content_tag :td, 'New' %>
					<%= content_tag :td, @presenter.new_orders.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.new_orders.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', buyer_orders_path(s: 'new'), 'play', 'btn-small' unless @presenter.new_orders.blank?%>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'Delivered' %>
					<%= content_tag :td, @presenter.delivered.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.delivered.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', buyer_orders_path(s: 'delivered'), 'play', 'btn-small' unless @presenter.delivered.blank?%>
						<%= content_tag :p, 'Pls Pay ASAP!', class: 'label label-warning txtcenter' unless @presenter.delivered.blank? %>
					</td>
				</tr>
				<tr<%= " class=alert-error" unless @presenter.overdue.blank? %>>
					<%= content_tag :td, 'Overdue' %>
					<%= content_tag :td, @presenter.overdue.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.overdue.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', buyer_orders_path(s: 'overdue'), 'play', 'btn-small btn-danger', true unless @presenter.overdue.blank? %>
						<%= content_tag :p, 'Settle NOW!', class: 'label label-important txtcenter' unless @presenter.overdue.blank?  %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<%= render 'messages/for_dashboard', link: buyer_messages_path %>
</div>

<% if @presenter.order_ratio && @presenter.order_ratio < "25%" %>
	<div class="well">
		<%= content_tag :span, 'Tip', class: 'label label-important' %>
		<%= content_tag :span, "Target an order ratio of <b>at least 25%</b> to motivate the suppliers to give you better bids.".html_safe %>
		<%= content_tag :span, "Order some more ... and please pay on time!" %>
	</div>
<% end %>
