<table class="table table-bordered">
	<tbody>
		<tr>
			<td class="span4">
				<dl class="dl-horizontal">
				  <dt>Serial No.</dt>
				  <dd><%= @entry.serial_no %></dd>
				  <dt>Motor No.</dt>
				  <dd><%= @entry.motor_no %></dd>
				</dl>
			</td>
			<td class="span2 txtcenter">
				<%= content_tag :h4, pluralize(@entry.line_items.size, "part"), id: 'parts-count' %>
				<% if @entry.line_items.size > 0 %>
					<div class="btn-group">
					  <%= link_to 'Add Parts', add_line_items_path(id: @entry), class: 'btn btn-mini btn-primary', remote: true if can? :access, :buyer %>
					  <%= link_to 'Add Details', add_specs_line_items_path(id: @entry.id), class: 'btn btn-mini btn-primary', remote: true if can? :access, :buyer %>
					</div>
				<% end %>
			</td>
			<td class="span2 txtcenter">
				<%= content_tag :h4, pluralize(@entry.photos.size, "photo"), id: 'parts-count' %>
				<% if @entry.photos.size > 0 %>
					<%= link_to 'View/Edit Photos', add_photos_entry_path(@entry), class: 'btn btn-mini btn-primary' if can? :access, :buyer  %>
				<% else %>
					<%= link_to 'Upload Photos', add_photos_entry_path(@entry), class: 'btn btn-mini btn-primary' if can? :access, :buyer  %>
				<% end %>
			</td>
			<td id="msg-count" class="span2 txtcenter">
				<%= content_tag :h4, message_count_helper %>
				<% if @entry.messages.restricted(current_user.company).pvt.size > 0 %>
					<%= link_to 'View', view_messages_path(id: @entry), class: 'btn btn-mini btn-primary', data: { toggle: 'modal', target: "#myModal"}, remote: true if params[:action] != 'print' %>
				<% else %>
					<%= link_to 'Create New Message', new_message_path(e: @entry), remote: true, data: { toggle: 'modal', target: "#myModal"}, class: 'btn btn-mini btn-primary' if params[:action] != 'print' %>
				<% end %>
			</td>
			<td class="span2 txtright">
				<%= content_tag :p, @entry.user, class: 'small' if can? :access, :buyer %>
				<%= entry_status_helper(@entry, 'entry-status') %>
				<%= content_tag :p, (regular_date @entry.bid_until) if @entry.bid_until && @entry.bid_until > Date.today %>
			</td>
		</tr>
	</tbody>
</table>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
