<div class="row">
	<%= content_tag :h2, 'Parts List', class: 'span3 pull-left' %>
	<%= link_to 'View as Buyer', buyer_show_path(@entry), class: 'btn' %>
	<%= link_to 'View as Seller', seller_show_path(@entry), class: 'btn' %>
</div>

<div id="parts" class="well">

	<% if @entry.line_items.present? %>

		<%= form_tag accept_bids_path, method: :post do |f| %>
		<%= hidden_field_tag :entry_id, @entry.id %>
			<%= content_tag :table, class: 'table' do %>
				<%= render 'entries/thead_show' %>

				<% @entry.line_items.includes(:car_part, :bids).group_by(&:status).sort.each do |status, line_items| %>
					<tr>
						<%= content_tag :td, status, colspan: 4, class: 'label label-inverse' %>
					</tr>

					<% line_items.each_with_index do |item, index| %>
						<tr id="item-<%= item.id %>">
							<%= content_tag :td, class: 'span4' do %>
								<%= content_tag :div, index + 1, class: 'index' if @entry.line_items.size > 1 %>
								<div class="parts">
									<%= content_tag :p, link_to(item, edit_line_item_path(item)) %>
									<% if item.specs.present? %>
										<%= "#{content_tag :code, 'Details: ' + item.specs, class: 'small'}".html_safe  %>
									<% end %>
									<% if item.bids.present? && !item.is_online %>
										<%= content_tag :p, class: 'small' do %>
											<%= content_tag :b, pluralize(item.bids.collect(&:user_id).uniq.count, 'bidder')  %>
											<%= content_tag :span, "| Fastest: #{time_in_words(item.bids.minimum(:bid_speed))}" %>
							 			<% end %>
									<% end %>
									<% item.bids.group_by(&:order).each do |o, bids| %>
										<%= link_with_icon "PO# #{o.id}", o, 'shopping-cart', "#{'cancelled' if bids.collect(&:status).include?('Cancelled')} btn btn-mini btn-success", true if o %>
									<% end %>
								</div>
							<% end %>
							<% if item.bids.present? %>

								<%= render 'entries/bid_select', item: item, f: f %>

							<% else %>
								<%= content_tag :td, colspan: 3, class: 'txtcenter' do %>
									<% if item.is_online %>
										No bidders. Bidding is ongoing.
									<% else %>
										No bidders. Bidding ended.
									<% end %>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				<% end %>
				<tr>
					<td colspan="4">
					</td>
				</tr>
			<% end %>
		</div>

		<div class="well">
			<div class="btn-toolbar pull-left">
				<div class="btn-group">
				  <%= link_to 'Edit', edit_entry_path(@entry), class: 'btn btn-primary' %>
				  <%= link_to 'Delete', entry_path(@entry), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
				</div>
				<div class="btn-group">
					<%= link_to 'Re-Bid', rebid_entry_path(@entry), class: 'btn btn-mini', confirm: 'Are you sure? This will put the entry online again. Decline Fees are not reversible.'  %>
					<%= link_to 'Reveal Bids', reveal_entry_path(@entry), class: 'btn btn-success btn-mini', confirm: 'Are you sure? You will no longer receive bids if you do this.'  %>
					<%= link_to "Expire", expire_entries_path(id: @entry), class: 'btn btn-danger btn-mini' %>
				</div>
			</div>
			<div class="btn-toolbar pull-right txtright">
				<%= link_with_icon 'Compute Variance', new_entry_variance_path(@entry), 'list' if @entry.can_be_ordered || @entry.can_reactivate %>
				<%= link_with_icon 'Printable Format', print_entry_path(@entry), 'print' %>
				<%= submit_tag "Create PO", class: 'btn btn-large btn-success' if @entry.can_be_ordered || @entry.can_reactivate %>
			</div>
			<div class="clearfix"></div>
		<% end %>
	
	<% else %>
	  
		<%= content_tag :h3, 'Parts list is empty.' %>
		<%= link_with_icon_js 'Add Parts', add_line_items_path(id: @entry), 'plus', 'btn-primary', true if can? :access, :buyer %>

	<% end %>
</div>

