<div class="navbar search">
  <div class="navbar-inner">
		<%= content_tag :span, 'Search', class: 'brand' %>
		<%= search_form_for @q, url: request.path, html: { class: 'navbar-search' } do |f| %>
		  <%= f.text_field :plate_no_cont, class: 'input-small', placeholder: 'Plate Number' %>
			<% if can? :access, :all %>
			  <%= f.grouped_collection_select :user_id_eq, @companies, :users, :nickname, :id, :username, { include_blank: 'User' }  %>
			<% elsif can? :access, :buyer %>
			  <%= f.grouped_collection_select :user_id_eq, current_user.company.branches.includes(:users), :users, :name, :id, :username, { include_blank: 'User' }  %>
			<% end %>
		  <%= f.grouped_collection_select :car_brand_id_eq, CarOrigin.includes(:car_brands), :car_brands, :name, :id, :name, { include_blank: 'Brand' }, id: 'veh-brand' %>
		  <%= f.collection_select :car_model_id_eq, @car_models, :id, :name, { include_blank: 'Model' }, id: 'veh-model' %>
			<%= f.button 'Go!', class: 'btn btn-primary' %>
			<%= refresh_button %>
		<% end %>
  </div>
</div>

