<% title 'Attach Photos' %>
<% subtitle "#{@entry.model_name} (#{@entry.plate_no})" %>

<%= form_for Photo.new, html: { multipart: true, id: "fileupload" } do |f| %>
	<%= f.hidden_field :entry_id, value: params[:id] %>
  <div class="row fileupload-buttonbar">
    <div class="span12">
			<%= content_tag :span, class: "btn btn-success fileinput-button" do %>
				<%= content_tag :i, '', class: "icon-plus icon-white"%>
				<%= content_tag :span, 'Add files...'%>
	      <%= f.file_field :photo, multiple: true, name: "photo[photo]" %>
			<% end %>
			<%= content_tag :button, type: 'submit', class: "btn btn-primary start" do %>
				<%= content_tag :i, '', class: "icon-upload icon-white" %>
				<%= content_tag :span, 'Start upload'%>
			<% end %>
			<%= content_tag :button, type: 'reset', class: "btn btn-warning cancel" do %>
				<%= content_tag :i, '', class: "icon-ban-circle icon-white" %>
				<%= content_tag :span, 'Cancel upload'%>
			<% end %>
			<%= link_to_entry_helper(@entry, 'Done!', 'pull-right btn-large') %>
    </div>
  </div>
  <div class="fileupload-loading"></div>
  <br>
  <table class="table table-striped">
		<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
			<% for photo in @entry.photos %>
	    <tr class="template-upload">
				<td class="preview span1">
					<%= link_to((image_tag photo.photo.url(:tiny), alt: "Photo of #{@entry.plate_no}"), photo.photo.url(:large), rel: "#{@entry.id}", class: 'photo') %>
				</td>
				<td class="name span2">
					<%= content_tag :span, photo.photo_file_name %>
				</td>
				<td class="size span2 txtright">
					<%= number_to_human_size photo.photo_file_size %>
				</td>
				<%= content_tag :td, content_tag(:span, 'Uploaded', class: 'label label-success'), class: "span2" %>
				<%= content_tag :td, '', class: "span1" %>
				<td class="delete span2 txtright">
					<%= link_with_icon_delete 'Delete', photo, "btn btn-danger", true %>
				</td>
	    </tr>
			<% end %>
		</tbody>
  </table>
<% end %>


<%= render 'add_photos_js' %>
