<% title @entry.model_name %>
<% subtitle "#{@entry.variant} (#{@entry.plate_no})" %>

<section id="vehicle-info">
	<%= render 'entries/info_vehicle' %>
</section>

<%= render 'entries/public_messages' if @entry.messages.pub.present? %>

<section id="parts-list">
	<%= render 'entries/parts_list' %>
</section>

<section id="time-line">
	<%= content_tag :ul, class: 'breadcrumb small' do %>
		<% Entry::TAGS_FOR_SIDEBAR.each do |tag| %>
			<%= get_date_for_sidebar(@entry, tag) %>
		<% end %>
	<% end %>
</section>
