<div id="bidding-message" class="txtcenter"></div>

<%= form_tag bids_path(:entry_id => @entry), remote: true do %>
	<div id="" class="well">
		<table class="table">
			<%= render 'entries/thead_show' %>

			<% LineItem::STATUS_TAGS.each do |tag| %>
				<% @entry.line_items.includes(:car_part, :bids).group_by(&:status).sort.each do |status, line_items| %>
					
					<% if status == tag %>
						<tr>
							<%= content_tag :td, status, colspan: 4, class: 'label label-inverse' %>
						</tr>
				
						<% line_items.each_with_index do |item, index| %>
						<tr id="<%= item.id %>">
							<td class="span4">
								<%= content_tag :div, index + 1, class: 'index'  %>
								<div class="parts">
									<%= content_tag :p, item %>
									<%= "#{content_tag :code, 'Details: ' + item.specs, class: 'small'}".html_safe if item.specs.present? %>
									<%= content_tag :p, (link_with_icon "PO# #{item.order_id}", item.order, 'shopping-cart', "btn btn-mini btn-success", true) if item.order && item.order.seller_id == current_user.id %>
								</div>
							</td>
					
							<% %w(original replacement surplus).each do |t| %>
								<td class="<%= t[0..3] %> bids span2 txtcenter">
									<% own_bid = item.bids.where(user_id: current_user.company.users, bid_type: t) %>
									<% if own_bid.present? %>
										<%= render own_bid %>
										<%= render 'seller/winning_bid', item: item, own_bid: own_bid, bids: item.bids.where(bid_type: t) unless current_user.id == 67 %>
									<% else %>
										<%= bid_box_helper(item.id, t) if item.is_online %>
									<% end %>
								</td>
							<% end %>
						</tr>
						<% end %>
					<% end %>
					
				<% end %>
			<% end %>
		</table>
	</div>

	<div class="well">
		<%= link_to 'Other Online Entries', seller_entries_path(s: 'online'), class: 'btn' %>
		<%= submit_tag "Submit Bids", class: 'btn btn-success pull-right' if @entry.is_online %>
	</div>
<% end %>

<% content_for :javascripts do %>
		$('.close').tooltip();
<% end %>
