<% title 'Seller Dashboard' %>
<% subtitle current_user.fullname %>

<div class="alert">
	<div class="span3">
		<%= content_tag :b, current_user.company.name.upcase %>
	</div>
	<div class="span4">
		<%= star_images(@presenter.company_rating.average('stars').to_f) %>
		<%= content_tag :p, ('based on ' + (link_to (pluralize @presenter.company_rating.count, 'rating'), user_ratings_path('all'))).html_safe %>
	</div>
	<div class="span4">
		<%= content_tag :b, 'Average Delivery Time' %>
		<%= content_tag :span, (pluralize @presenter.average_delivery_time, 'day'), class: 'lead' %>
	</div>
	<%= clearfix_div %>
</div>

<div class="row">
	<div class="span3">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<%= content_tag :th, 'Entries', colspan: 2, class: 'label label-inverse txtcenter' %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= content_tag :td, 'Online' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.online_entries.count, class: 'lead' %>
						<%= link_with_icon '', seller_entries_path(s: 'online'), 'play', 'btn-small btn-primary', true %>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'For Decision' %>
					<td class="txtright">
						<%= content_tag :span, @presenter.for_decision_entries.count, class: 'lead' %>
						<%= link_with_icon '', seller_entries_path(s: 'for-decision'), 'play', 'btn-small' %>
					</td>
				</tr>
				<tr class="alert-info">
					<td colspan="2" class="txtcenter">
						<%= content_tag :b, 'Bidding Ratio' %>
						<%= content_tag :span, @presenter.bidding_ratio, class: 'lead' %>
						<p class="small">
							<%= @presenter.bidding_ratio_details %>
							(<%= Time.now.year %>)
						</p>
					</td>
				</tr>
				<% if @presenter.bidding_ratio < "25%" %>
					<tr class="alert-success">
						<td colspan="2" class="txtcenter">
							<%= content_tag :p, 'Tip', class: 'label label-success' %>
							<%= content_tag :span, "Target a bidding ratio of <b>at least 25%</b> to get a steady number of orders. So keep on bidding!".html_safe %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<div class="span4">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<%= content_tag :th, 'Orders', colspan: 3, class: 'label label-inverse txtcenter' %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= content_tag :td, 'New' %>
					<%= content_tag :td, @presenter.new_orders.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.new_orders.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', seller_orders_path(s: 'new'), 'play', 'btn-small btn-primary', true unless @presenter.new_orders.blank?%>
					</td>
				</tr>
				<tr>
					<%= content_tag :td, 'Delivered' %>
					<%= content_tag :td, @presenter.delivered.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.delivered.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', seller_orders_path(s: 'delivered'), 'play', 'btn-small' unless @presenter.delivered.blank?%>
					</td>
				</tr>
				<tr<%= " class=alert-error" unless @presenter.overdue.blank? %>>
					<%= content_tag :td, 'Overdue' %>
					<%= content_tag :td, @presenter.overdue.count, class: 'txtright' %>
					<td class="txtright">
						<%= content_tag :span, (currency @presenter.overdue.sum(:order_total), 'P '), class: 'lead' %>
						<%= link_with_icon '', seller_orders_path(s: 'overdue'), 'play', 'btn-small btn-danger', true unless @presenter.overdue.blank? %>
					</td>
				</tr>
				<tr class="alert-success">
					<td colspan="3" class="txtcenter">
						<%= content_tag :b, 'Total orders you got through E-Bid: ' %>
						<%= content_tag :span, (currency @presenter.total_orders, 'P'), class: 'lead' %>
						<%= content_tag :i, '', class: 'icon-thumbs-up' if @presenter.total_orders > 0 %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<%= render 'messages/for_dashboard', link: seller_messages_path %>
</div>

