<%= div_for bid do %>
	<%= bid_amount_helper bid %>
	<%= content_tag :span, bid.status.upcase, class: 'small' %>
	<% if params[:action] == 'show' %>
	<span class="links">
		<%= link_to 'edit', revise_bid_path(bid), class: 'small', remote: true if bid.online? %>
		<%= delete_icon '', bid, nil, false, true if bid.online? %>
	</span>
	<% end %>
<% end %>