<% title 'Companies' %>
<div class="txtright">
	<%= link_to 'Add Company', new_company_path, :class => 'btn btn-primary btn-large' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
		  <th>Primary Role</th>
		  <th>Rating</th>
		  <th class="txtcenter">Friends</th>
		  <th class="txtcenter">Users</th>
		  <th class="txtcenter">Perf Ratio</th>
      <th class="txtright">Actions</th>
    </tr>
  </thead>
  <tbody>
		<% @companies.group_by(&:primary_role).each do |pr, cs| %>
    <% cs.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= link_to company.name, company_path(company) %></td>
		    <td><%= company.role.name if company.primary_role %></td>
		    <td><%= star_images(Rating.where(ratee_id: company.users).average('stars').to_f) if company.primary_role %></td>
				<td class="txtcenter"><%= company.friends.size %></td>
				<td class="txtcenter"><%= company.users.size %></td>
		    <td class="txtcenter"><%= percentage company.perf_ratio, 2 %></td>
        <td class="txtright">
          <%= link_to 'Edit', edit_company_path(company), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', company_path(company), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
		<% end %>
  </tbody>
</table>

