<%- model_class = @company.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nickname) %>:</strong></dt>
  <dd><%= @company.nickname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:primary_role) %>:</strong></dt>
  <dd><%= @company.primary_role %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trial_start) %>:</strong></dt>
  <dd><%= @company.trial_start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trial_end) %>:</strong></dt>
  <dd><%= @company.trial_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:metering_date) %>:</strong></dt>
  <dd><%= @company.metering_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:perf_ratio) %>:</strong></dt>
  <dd><%= @company.perf_ratio %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              companies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_path(@company), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              company_path(@company),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
