<% title @company.name %>

<div class="row">
	<div class="span2">
		<%= content_tag :h5, @company.pr_label %>
		<%= content_tag :h1,number_to_percentage(@company.perf_ratio, precision: 2), class: 'marketing-byline' %>
	</div>
	<div class="span6">
		<%= content_tag :h5, 'Friends' %>
		<% if @friends.present?  %>
			<ol class="small">
				<% for friend in @friends %>
					<li class="friend"><%= friend.name %></li>
				<% end %>
			</ol>	
		<% else %>
			<p class="lead">
				None. <small><%= link_to 'Edit', edit_company_path(@company) %></small> to add some friends.
			</p>
		<% end %>
	</div>
	
	<div class="pull-right">
	  <%= link_to 'Edit', edit_company_path(@company), :class => 'btn' %>
	  <%= link_to 'Delete', company_path(@company), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' if can? :access, :all %>
	</div>
</div>


<%= content_tag :h2, 'Registered Branches' %>
<table class="table table-condensed table-bordered">
	<thead>
		<tr>
			<%= content_tag :th, 'Branch Name', class: 'lead' %>
			<%= content_tag :th, 'Users', colspan: 4, class: 'lead txtcenter' %>
		</tr>
		<tr>
			<%= content_tag :th, link_to('Add Branch', new_branch_path(c: @company.id), class: 'btn btn-primary btn-mini') %>
			<%= content_tag :th, 'Enabled' %>
			<%= content_tag :th, 'Full Name' %>
			<%= content_tag :th, 'Username' %>
			<%= content_tag :th %>
		</tr>
	</thead>
	<tbody>
		<% for branch in @company.branches %>
			<tr>
				<%= content_tag :td, class: 'span4', rowspan: branch.users.present? ? branch.users.size + 1 : nil do %>
					<address>
						<%= content_tag :strong, branch.name %><br/>
						<small>
							<%= branch.address1 %>
							<%= "<br/> #{branch.address2}".html_safe if branch.address2 %>
						</small>
					</address>
					<%= link_to 'Edit Branch', edit_branch_path(branch), class: 'btn btn-mini btn-warning' %>
					<%= link_to 'Add User', new_user_path(c: @company.id, b: branch.id), class: 'btn btn-mini' %>
				<% end %>
				<% if branch.users.blank? %>
					<%= content_tag :td, link_to('Add User', new_user_path(c: @company.id), class: 'btn'), colspan: 3 %>
				<% end %>
			</tr>
				<% for user in branch.users %>
					<tr>
						<td><%= content_tag :span, user.enabled? ? 'ON' : 'OFF', class: "label #{user.enabled? ? 'label-success' : nil }" %></td>
						<td><%= user.profile %></td>
						<td><%= link_to user, user %></td>
						<td class="txtright"><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-mini' %></td>
					</tr>
				<% end %>
		<% end %>
	</tbody>
</table>

