<div id="login-form" class="span6 well">
	<%= content_tag :h1, 'Login' %>	
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :username, required: false, autofocus: true, input_html: { class: 'span5'} %>
    <%= f.input :password, required: false, input_html: { class: 'span5'} %>
    <%#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Login", class: 'btn-large btn-primary' %>
	<% end %>

	<%= render "devise/shared/links" %>
</div>

