<% title "#{@car_brand} - #{pluralize @car_brand.car_models.size, 'model'}" %>

<div class="well">
  <%= link_to 'Edit', edit_car_brand_path(@car_brand), :class => 'btn' %>
  <%= link_to 'Delete', car_brand_path(@car_brand), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%= link_to 'Brands', car_brands_path, :class => 'btn pull-right'  %>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Model</th>
			<th>Variants</th>
			<th class="txtcenter">Entries</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

			<% @car_brand.car_models.order(:name).each do |cmodel| %>
				<tr>
					<% if cmodel.car_variants.size > 0 %>
					<td class="span4" rowspan="<%= cmodel.car_variants.size + 1 %>">
					<% else %>
					<td class="span4">
					<% end %>
						<%= content_tag :h3, link_to(cmodel, cmodel) %>
						<%= link_to 'Edit', edit_car_model_path(cmodel), class: 'btn btn-mini' %>
						<%= link_to 'Delete', car_model_path(cmodel), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
					</td>
				<% if cmodel.car_variants.size < 1 %>

					<%= content_tag :td, colspan: 3 do %>
						<%= link_to 'Add Variant', new_car_variant_path, class: 'btn btn-mini btn-primary' %>
					<% end %>

				</tr>

				<% else %>

				</tr>

				<% cmodel.car_variants.order(:name).each do |variant| %>
					<tr>
						<%= content_tag :td, link_to(variant.name, variant), class: 'span3' %>
						<%= content_tag :td, variant.entries.size, class: "span1 txtcenter#{' highlight lead' if variant.entries.size > 0}" %>
						<td>
							<%= link_to 'Edit', edit_car_variant_path(variant), class: 'btn btn-mini' %>
							<%= link_to 'Delete', car_variant_path(variant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' unless variant.entries.size > 0 %>
						</td>
					</tr>
				<% end %>

				<% end %>
			<% end %>

	</tbody>
</table>
