<% title 'Car Parts' %>

<div class="navbar search">
  <div class="navbar-inner">
		<%= content_tag :span, 'Search', class: 'brand' %>
		<%= search_form_for @q, url: request.path, html: { class: 'navbar-search' } do |f| %>
		  <%= f.text_field :name_cont, placeholder: 'Part Name' %>
			<%= f.button 'Go!', class: 'btn btn-primary' %>
			<%= refresh_button %>
		<% end %>
		<%= link_to 'New', new_car_part_path, :class => 'btn btn-primary pull-right' %>
  </div>
</div>


<%= content_tag :div, page_entries_info(@car_parts), class: 'page-info' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Count</th>
      <th>Creator</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'part' %>
  </tbody>
</table>

<%= will_paginate @car_parts %>

