<%= form_for @photo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :entry_id %><br />
    <%= f.number_field :entry_id %>
  </p>
  <p>
    <%= f.label :photo_file_name %><br />
    <%= f.text_field :photo_file_name %>
  </p>
  <p>
    <%= f.label :photo_content_type %><br />
    <%= f.text_field :photo_content_type %>
  </p>
  <p>
    <%= f.label :photo_file_size %><br />
    <%= f.number_field :photo_file_size %>
  </p>
  <p>
    <%= f.label :photo_updated_at %><br />
    <%= f.datetime_select :photo_updated_at %>
  </p>
  <p>
    <%= f.label :photo_processing %><br />
    <%= f.check_box :photo_processing %>
  </p>
  <p><%= f.submit %></p>
<% end %>
