<%= form_for @fee do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :bid_id %><br />
    <%= f.number_field :bid_id %>
  </p>
  <p>
    <%= f.label :bid_total %><br />
    <%= f.text_field :bid_total %>
  </p>
  <p>
    <%= f.label :fee_rate %><br />
    <%= f.text_field :fee_rate %>
  </p>
  <p>
    <%= f.label :fee %><br />
    <%= f.text_field :fee %>
  </p>
  <p>
    <%= f.label :fee_type %><br />
    <%= f.text_field :fee_type %>
  </p>
  <p><%= f.submit %></p>
<% end %>
