<%= simple_form_for @line_item do |f| %>
	<%= f.input :entry_id %>
	<%= f.input :car_part_id %>
	<%= f.input :specs %>
	<%= f.input :quantity %>
	<%= f.input :status, collection: LineItem::STATUS_TAGS %>
	<%= f.input :bids_count %>
	<%= f.input :relisted %>
	<%= f.input :order_id %>
  <p><%= f.submit %></p>
<% end %>
