<% title "#{@car_model.full_name} - #{pluralize @car_model.car_variants.size, 'variant'}" %>

<div class="well">
	<%= link_to 'Edit', edit_car_model_path(@car_model), class: 'btn' %>
	<%= link_to 'Delete', car_model_path(@car_model), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%= link_to 'Brands', car_brands_path, :class => 'btn pull-right'  %>
	<%= link_to "#{@car_model.car_brand}", @car_model.car_brand, class: 'btn pull-right'  %>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Variants</th>
			<th class="txtcenter">Entries</th>
		</tr>
	</thead>
	<tbody>
		<% for variant in @car_model.car_variants.order(:name) %>
			<tr>
				<td class="span3">
					<%= content_tag :h5, variant.name.upcase %>
					<%= content_tag :span, variant.id, class: 'muted' %>
					<%= link_to 'Edit', edit_car_variant_path(variant), class: 'btn btn-mini' %>
					<% if variant.entries.size > 0 %>
						<%= link_to 'Transfer Entries', transfer_car_variant_path(variant), class: 'btn btn-mini btn-danger' %>
					<% else %>
						<%= link_to 'Delete', car_variant_path(variant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
					<% end %>
				</td>
				<td>
					<%= content_tag :p, pluralize(variant.entries.size, 'entry'), class: 'lead'  %>
					<% for entry in variant.entries %>
						<%= link_to entry, class: "label #{entry.status_color}" do %>
							<%= "#{entry.id}  #{entry.car_variant.full_name} - #{entry.user} - #{entry.created_at.year}" %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
