<header class="navbar navbar-inverse navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'E-Bid 4.5 beta', relative_root_path, class: 'brand' %>
       <div class="nav-collapse collapse">
				<% if user_signed_in? && current_user.enabled? %>
					<% if can? :access, :all %>
						<%= render 'admin/nav' %>
					<% elsif can? :access, :buyer %>
						<%= render 'buyer/nav' %>
					<% elsif can? :access, :seller %>
						<%= render 'seller/nav' %>
					<% end %>
				<% end %>

				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li class="dropdown">
							<%= drop_link 'Account' %>
							<ul class="dropdown-menu">
								<%= content_tag :li, link_to("Logout #{current_user.username.upcase}", destroy_user_session_path, :method=>'delete') %>
							  <%= content_tag :li, link_to('My Account', edit_user_path(current_user, c: current_user.company.id)) %>
							  <%= content_tag :li, link_to('My Company', company_path(current_user.company, c: current_user.company.id)) if can? :access, :companies %>
							</ul>
						</li>
					<% else %>
						<%= nav_link('Login', new_user_session_path) %>
					  <%= nav_link('Register', new_user_path) %>
					<% end %>
	      </ul>
       </div>
    </div>
  </nav>
</header>

