<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? "#{ yield(:title) } | E-Bid" : "E-Bid Inc. 41" %></title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %> <%=  params[:action] %>">
    <%= render 'layouts/navigation' %>
		<div class="container">
			<%= render 'layouts/alert_messages' %>
			<% if show_title? %>
				<section class="page-header">
					<%= content_tag :h1 do %>
						<%= yield(:title) %>
						<%= yield(:subtitle).html_safe %>
					<% end %>
				</section>
			<% end %>
			<%= yield %>
			<footer>
				<%= link_to 'Preview Emails', letter_opener_letters_path %>
			</footer>
		</div>
		<div id="javascripts">
			<%= javascript_include_tag "application" %>
			<script type="text/javascript" charset="utf-8">
				<%= yield(:javascripts) %>
			</script>
			<%= yield(:javascripts2) %>
		</div>
  </body>
</html>